@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    

    &__content {
        max-width: 640px;
        

        &__brading {
            max-width: 100%;
            margin: 0 auto 10px;
        }

        img {
            border-radius: 6px;
            margin-left: 20px;
        }
        
    }

    &__btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        max-width: 100%;
        margin-top: 2.5em;

        @media (min-width: 375px) and (max-width: 1024px) {
            width: 100%;
            display: flex;
        }
        
    }

    &__btn__item__1 {
        background-color: variaveis.$corDaLogo;
        color: variaveis.$corDoBox;
        text-decoration: none;
        padding: 12px;
        margin-bottom: 12px;
        border-bottom: 2px solid variaveis.$corDeFundo;
        transition: all .3s;
        border-radius: 6px;
        
    }

    

    &__btn__p {
        display: block;
        margin-top: 30px;
        color: variaveis.$corTextoSecundario;
        font-family: 'Oswald', sans-serif;
        align-items: center;

        @media (max-width: 720px) {
            width: 100%;
            padding-top: 0;
            
        }
    }

    

    &__btn__2 {
        margin: 20px 0 0 20px;
        display: inline-flex;
        padding: 10px;
        align-items: center;
        width: 15em;
        border-radius: 5px 5px 0 0;
        border-bottom: 4px solid variaveis.$corDeFundo;
        background-color: variaveis.$corDaLogo;
    }

    &__btn__2:hover {
        background-color: variaveis.$corDoBox;
    }

    &__btn__2__play {
        filter: invert(1);
        margin: 10px 0 5px 20px;
        margin-right: 10px;
        width: 20%;
    }
}